@tailwind base;
@tailwind components;
@tailwind utilities;

.Banner {
  background: url("./Assets/images/hero-bg-1.jpg") no-repeat center center /
    cover;
}
.Banner::before {
  position: absolute;
  content: "";
  background-image: linear-gradient(
    to right,
    rgba(32, 40, 119, 0.95),
    rgba(55, 46, 149, 0.95),
    rgba(83, 49, 177, 0.9),
    rgba(114, 48, 205, 0.85),
    rgba(150, 41, 230, 0.95)
  );
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}
