@tailwind base;
@tailwind components;
@tailwind utilities;

.Banner {
  background: url("./Assets/images/hero-bg-1.jpg") no-repeat center center /
    cover;
}
.Banner::before {
  position: absolute;
  content: "";
  background-image: linear-gradient(
    to right,
    rgba(32, 40, 119, 0.95),
    rgba(55, 46, 149, 0.95),
    rgba(83, 49, 177, 0.9),
    rgba(114, 48, 205, 0.85),
    rgba(150, 41, 230, 0.95)
  );
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.Applink_container,
.Accordion_container {
  position: relative;
}
.Applink {
  background: url(./Assets/images/meeting_img.avif) no-repeat center center /
    cover;
}

.Applink::before {
  position: absolute;
  content: "";
  background-image: linear-gradient(
    to right,
    rgba(32, 40, 119, 0.95),
    rgba(55, 46, 149, 0.95),
    rgba(83, 49, 177, 0.9),
    rgba(114, 48, 205, 0.85),
    rgba(150, 41, 230, 0.95)
  );
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.Accordion {
  background: url(./Assets/images/arrcodionbackground.avif) no-repeat center
    center / cover;
}

.Accordion::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgba(32, 40, 119, 0.95),
    rgba(55, 46, 149, 0.95),
    rgba(83, 49, 177, 0.9),
    rgba(114, 48, 205, 0.85),
    rgba(150, 41, 230, 0.95)
  );
  top: 0;
  bottom: 0;
  z-index: 0;
}

.Team-container {
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
  text-align: center;
}

.member-info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(
    to right,
    rgba(32, 40, 119, 0.85),
    rgba(55, 46, 149, 0.9),
    rgba(83, 49, 177, 0.85),
    rgba(114, 48, 205, 0.8),
    rgba(150, 41, 230, 0.8)
  );
  vertical-align: middle;
  padding-top: 45%;
  opacity: 0;
  transition: .5s;
  transition-timing-function: ease-in-out;
border-radius: 0.25rem;
}

.Team-container:hover .member-info {
  opacity: 1;
}

input:focus {
border: 1px solid indigo !important;
}
